<launch>

  <node name="manager1"
        pkg="nodelet"
        type="nodelet"
	args="manager"
	output="screen">
  </node>

  <node name="talker"
        pkg="nodelet"
        type="nodelet"
	args="load kdbus_tests/talker manager1 --no-bond"
	output="screen">
  </node>

  <node name="manager2"
        pkg="nodelet"
        type="nodelet"
	args="manager"
	output="screen">
  </node>

  <node name="listener"
        pkg="nodelet"
        type="nodelet"
	args="load kdbus_tests/listener manager2 --no-bond"
	output="screen">
  </node>

</launch>
